<div class="column">
    <nav class="panel">
        <p class="panel-heading">Trends</p>
        <a class="panel-block">Panel 1</a>
        <a class="panel-block">Panel 2</a>
        <a class="panel-block">Panel 3</a>
        <a class="panel-block">Panel 4</a>
        <a class="panel-block">Panel 5</a>
        <a class="panel-block">Panel 6</a>
    </nav>
</div>